
.section.section-footer {
    margin-bottom: 0;
    min-height: unset;

    .grid {
        display: grid;
        grid-template-columns: [lef] 1fr [mid] 1fr [rig];
        grid-template-rows: [top] 1fr [bot];
        column-gap: 10%;

        &-left {
            text-align: center;
        }

        &-right {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    }

    .footer-logo {
        height: 80px;
        width: 80px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .legal {
        margin-top: 1em;
        font-size: 0.7em;
        color: grey;

        a {
            color: grey;
        }

        .legal-item {
            margin: 0;
            display: inline;
            word-break: break-all;
        }
    }
}