
.section.section-ways-to-brew {
    background-color: #f0eded;
    .grid {
        display: grid;
        grid-template-columns: [lef] 1fr [mid] 1fr [rig];
        grid-template-rows: [top] 1fr [bot];
        margin-top: 39px;
        column-gap: 20px;
    
        &-right {
            text-align: center;
            margin-top: 2em;
        }
    }

    .link-wrapper {
        text-align: center;

        .link {
            margin: 10px;
            display: inline-block;
        }
    }
}