
.section.section-hall-of-fame {
    .section-headline {
        text-align: center;
    }
    
    .grid {
        display: grid;
        grid-template-columns: [lef] 1fr [mid] 1fr [rig];
        grid-template-rows: [top] 1fr [mid] 1fr [bot];
        column-gap: 12px;
        row-gap: 12px;
    }
}