@import "../../../styles/images";
@import "../../../styles/viewports";

.page-catalogue {
    .section.section-filters {
        padding: 0;
        margin-top: 0;
        min-height: unset;

        .heading {
            margin: 0.5em 0;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
            column-gap: 10px;
        }

        .toggle-button {
            display: block;
            width: 100%;
            text-align: left;
            margin-bottom: 7px;
        }
    }
}