@import "../../styles/images";
@import "../../styles/viewports";

.section.section-hero {
    height: unset;
    min-height: 600px;
    padding-top: 2em;

    .safe-content {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .hero-headline {
        display: inline-block;
        text-align: center;
        font-size: 3em;
        margin: 0;
    }

    .picture {
        align-self: center;
        @include image-for-xsmall(560px, 370px);
        @include image-for-small(530px, 354px);
        @include image-for-medium(700px, 390px);
        @include image-for-large(700px, 400px);

        transform: translateX(-50%);
        position: relative;
        left: 50%;
        @include for-small {
            transform: unset;
            position: unset ;
            left: unset;
        }
    }

    .hero-tagline {
        display: block;
        align-self: center;
        margin-top: 0;
        margin-bottom: 2em;
    }
}