@import "../../styles/viewports";
@import "../../styles/images";

.card {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px 10% 25px 10%;
    background-color: white;

    &-text {
        height: -webkit-fill-available;

        display: none;
        @include for-medium {
            display: unset;
        }
    }
    
    .picture {
        align-self: center;
        @include image-for-xsmall(216px, 216px);
        @include image-for-small(200px, 200px);
        @include image-for-medium(280px, 280px);
        @include image-for-large(310px, 310px);
        @include image-for-xlarge(320px, 320px);
    }
    
    &-image {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    
    &-image-canvas {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    
    .link {
        margin-top: 1em;
        align-self: center;
        
        @include for-medium {
            margin-top: unset;
        }
    }
}