
.section.section-bean-of-the-week {
    .grid {
        display: grid;
        grid-template-columns: [lef] 1fr [mid] 1fr [rig];
        grid-template-rows: [top] 1fr [bot];
        margin-top: 39px;
    
        &-left {
            text-align: center;
            margin-top: 3em;
        }
    }

    .link-wrapper {
        text-align: center;

        .link {
            margin: 10px;
            display: inline-block;
        }
    }
}