@import "../../styles/viewports.scss";

.navigation {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    padding: 1em;
    border-bottom: 0.5px solid whitesmoke;
    text-align: right;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000;

    .nav-button {
        margin: 0;
        border: 0;
        background-color: rgba(0,0,0,0);
        font-size: inherit;
        font-weight: inherit;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    // .viewport-reveal::after {
    //     color: red;
    //     @include for-xsmall { content: "x-small" }
    //     @include for-small { content: "small" }
    //     @include for-medium { content: "medium" }
    //     @include for-large { content: "large" }
    //     @include for-xlarge { content: "xlarge" }
    //     @include for-xxlarge { content: "xxlarge" }
    // }
}