.link {
    .link-icon.external {
        display: inline-block;
        transform: rotate(-45deg);
    }

    opacity: 0.9;

    &:hover {
        opacity: 1;
        text-decoration: underline;
    }
}

